<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OEE summary</title>
    <script src="../node_modules/webcomponents.js/webcomponents.js" charset="utf-8"></script>
    <script>
    window.addEventListener('WebComponentsReady', function() {
      var proto = Object.create(HTMLElement.prototype, {
        createdCallback: {
          value: function() {
            var link = document.querySelector('link[href$="oee-summary.html"]').import;
            var template = link.querySelector('#oee-summary');
            var clone = document.importNode(template.content, true);
            this.createShadowRoot().appendChild(clone);
          }
        }
      });
      document.registerElement('oee-summary', {prototype: proto});
    });
    </script>
  </head>
  <body>
    <template id="oee-summary">
        <span class="good" style="flex-basis:74%"><i>&triangle;</i> 74%    </span>
        <span class="stop" style="flex-basis:9%">&nbsp;   </span>
        <span class="slow" style="flex-basis:10%">&nbsp;   </span>
        <span class="discard" style="flex-basis:7%">&nbsp;</span>
    </template>
  </body>
</html>
